 * {
     box-sizing: border-box;
 }
 
/* Flex box container for main body */
 body {
     display: flex;
     min-height: 100vh;
     flex-direction: row;
     margin: 0;
 }

 .nav-col {
     flex: 1;
    
 }

 .nav li :hover {
    font-weight: bolder;
 }

 nav p {
    font-size: xx-large;
 }

 .main-col {
     display: flex;
     flex-direction: column;
     flex: 5;
 }

.main-row {
     display: flex;
     flex-direction: row;
 }

.project-col {
    display:flex
     flex: 4;

 }

#main-project {
    flex: 2;
    border: solid black;
    text-align: center;
    margin: 5px;
}

#link {
    max-width: 400px;
}

.other-project {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

/* Response aspects for smaller */
/* @media only screen and (max-width: 650) {
    .other-project {
        flex-direction: column;
    }
} */

.projects-container img {
    max-width: 200px;
    margin: 5px;
   
}

.projects-container {
    flex: 1;
    border: solid black;
    text-align: center;
}

 .main-row article {
     min-height: 60vh;
 }

 .main-row aside {
     flex: 1;
 }
 
aside img {
     margin: 10px;
     box-shadow: 5px 5px;
     max-width: 200px;
 }

 header,
 footer {
     height: 20vh;
 }

 header {
    font-size: xxx-large;
 }

 header,
 footer,
 article,
 nav,
 aside {
     padding: 1em;
    background-image: linear-gradient(#bdbdba, #e9edc9);
    border: solid black;
 }

 /* Hover Affects */
 a:hover {
     color: #da842e;
 }

.projects-container img:hover,
article img:hover {
   box-shadow: 5px 5px;
   background-color: black;
}



/* * {
    box-sizing: border-box;
    
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
   
    
}

.nav {
    flex: 1;
    
}
.nav a{
 color: #bdbdba;
}
.header {
    flex: 5;
    
}


.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    flex: 4;
}

.flex-row article {
    min-height: 60vh;
}

.flex-row aside {
    background: beige;
    flex: 1;
}
.aside-image {


}

header,
footer {

    height: 20vh;
}

header,
footer,
article,
nav,
aside {
    padding: 1em; */
 





/* * {
    color: #606c38;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: #ccd5ae;
    width: 100%;
}

/* Do all sections need to be Flex in order to get layout right.  { */
/* .header {
    padding: 5px;
    overflow: hidden;
    position: relative display: inline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #e9edc9;
    color: #d4a373;
    width: 100%;
    top: 0;
    border: solid #a3b18a;
    background-image: linear-gradient(#bdbdba, #e9edc9);
}

.header h1 {
    font-size: 48px;
    display: inline-block;
    margin: 5px;
}


.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #d4a373;
    text-decoration: none;
}

a:hover {
    color: #da842e;
}

h2 {
    /* allows for the change in collor effect on my background color. more refined looking  
    background-image: linear-gradient(to right, #faedcd, #cdc9c0);
}

#about {
    display: block;
    width: 75%;
    float: left;
    background-color: #e9edc9;
    margin-bottom: 15px;
    margin-top: 15px;
    border: solid #a3b18a;
    background-image: linear-gradient(#bdbdba, #e9edc9);
}

#about img {
    margin: 10px;
    box-shadow: 5px 5px;
}

.float-left {
    float: left;
    margin-right: 15px;
    height: 200px;
    width: auto;
}

/* this should be on the right and stretch the entierty of the webpage 
#contact {
    display: block;
    height: 100%;
    float: right;
    width: 20%;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 15;
    background-color: #e9edc9;
    border: solid #a3b18a;
    background-color: #e9edc9;
    background-image: linear-gradient(#bdbdba, #e9edc9);
}

#contact p {
    font-size: xx-large;
    line-height: 3;
    text-align: center;

}

Main {
    display: block;
    width: 75%;
    float: left;
    justify-content: center;
    background-color: #e9edc9;
    border: solid #a3b18a;
    background-image: linear-gradient(#bdbdba, #e9edc9);
}


}

#projects {
    display: flexbox;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: center;
    flex-direction: column;

}

.card {
    border: solid black;
    flex: 1 0 40%;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.card img {

    box-shadow: 5px 5px;
    opacity: 1;
    object-fit: scale-down;
    max-width: 100%;
    


}

.card img:hover {
    opacity: .5;
}

/* This card needs to be larger than the others. 
#maincard {
    border: solid black;
    flex: 1 0 60%;
    text-align: center;
    display: flex;
    flex-direction: column;

}

#maincard img {
    object-fit: contain;
    max-width: 100%
} */

/* Need to check

Image overlaping the nav bar
Flex box image shrink
screen shrinking and adapting

/* TODO
GIVEN I need to sample a potential employee's previous work
 WHEN I load their portfolio 
 Done/THEN I am presented with the developer's name, a recent photo or avatar, and links to sections about them, their work, and how to contact them
 WHEN I click one of the links in the navigation 
 Done/HEN the UI scrolls to the corresponding section
 WHEN I click on the link to the section about their work 
 Done/THEN the UI scrolls to a section with titled images of the developer's applications
 WHEN I am presented with the developer's first application
 THEN that application's image should be larger in size than the others
 WHEN I click on the images of the applications 
 Done/THEN I am taken to that deployed application 
 WHEN I resize the page or view the site on various screens and devices 
 THEN I am presented with a responsive layout that adapts to my viewport
*/

